/* ブラウザがそれぞれ持っているCSSをリセットするための記述 */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  color: #6c6b6b;
}

.main-visual {
  height: 400px;
  width: 100%;
  background-image: url(img/mv.jpg);
  background-size: cover;
  background-position: bottom;
}

.header-text {
  padding: 20px;
}

main {
  width: 840px;
  margin: 50px auto;
}

.section1 {
  margin-bottom: 30px;
  padding-bottom: 30px;
  border-bottom: 1px solid #d1d1d1;
}

.section2 {
  margin-bottom: 30px;
  padding-bottom: 30px;
  border-bottom: 1px solid #d1d1d1;
}

.section3 {
  margin-bottom: 30px;
  padding-bottom: 30px;
  border-bottom: 1px solid #d1d1d1;
}

.section4 {
  padding-bottom: 30px;
  border-bottom: 1px solid #d1d1d1;
}